{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap-5.3.3-dist/css/bootstrap.css">
    <script src="css/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

    <script src="{% static 'js/content-div.js' %}"></script>
    <script src="{% static 'js/files-divs.js' %}"></script>
    <style>
        /* Custom CSS for the dashboard */
        :root {
            --colorstand: #124562;
        }

        body,
        html {
            height: 100%;
            margin: 0;
            font-family: 'Roboto';
        }

        .dashborad-section {
            margin-top: 65px;
        }

        .wrapper {
            display: flex;
            flex-direction: row;
            height: 100%;

        }

        .sidebar {
            background-color: var(--colorstand);
            color: white;
            width: 250px;
            height: 800px;

            min-width: 250px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
        }

        .sidebar a {
            color: white;
            text-decoration: none;
            padding: 15px;
            display: block;
        }

        .sidebar a:hover {
            background-color: #495057;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            overflow-y: auto;
        }

        @media (max-width: 768px) {
            .sidebar {
                width: 100%;
                min-width: 0;
            }

        }

        /* jquery */
        .edit-profile,
        .edit-appoint,
        .edit-schadule,
        .show-upload-div {
            display: none;

        }
    </style>


</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light ">
        <div class="container">
            <!-- Logo on the left -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'imgs/logo.png' %}" alt="" class="img-fluid" width="32%">
            </a>

            <!-- Toggler button for small screens -->
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Navigation links on the right -->
            <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavId">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'index' %}" aria-current="page">
                            <!-- active -->
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ourTeam' %}">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactUs' %}">Contact Us</a>
                    </li>
                    {%if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    {%endif%}
                    <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- end nav -->



    <main>
        <section class="dashborad-section">

            <nav class="navbar navbar-dark bg-dark d-md-none" style="margin-top: 70px; ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


            </nav>
            <div class="wrapper">
                <div class="collapse d-md-flex sidebar" id="sidebarMenu">
                    <h3 class="text-center py-3" style="visibility: hidden;">Dashboard</h3>
                    <a href="#" id="lin1"><i class="fa-solid fa-pen-to-square pe-2"></i>Edit Profile </a>
                    <a href="#" id="lin2"><i class="fa-solid fa-pen-to-square pe-2"></i>Edit Schedule </a>
                    <a href="#" id="lin3"><i class="fa-solid fa-pen-to-square pe-2"></i>Edit Appointments </a>

                    <a href="#"><i class="fa-regular fa-bell pe-2"></i> Notifications </a>
                    <a href="#" id="lin4"> <i class="fa-solid fa-lock pe-2" style="color: #ffffff;"></i>Patients
                        Files</a>
                    <!-- <a href="#link4">Link 4</a>
                    <a href="#link5">Link 5</a> -->
                </div>



                <!-- content -->
                <div class="content">


                    <div class="profile-div container">

                        <form action="" method="">
                            <div class="d-flex justify-content-between mb-2">

                                <h2>Name: <span>{{ user1.name_user }}</span></h2>
                                <i class="fa-solid fa-user" style="font-size: 50px;"></i>

                            </div>

                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ user1.name_user }}</td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td>{{ user1.email_user}}</td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td>{{ user1.phone_user}}</td>
                                </tr>
                                
                                <tr>
                                    <th>Photo</th>
                                    <td><img src="{% static 'imgs/dr3.PNG' %}" alt="" width="60px"></td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>Damitta</td>
                                </tr>

                                <tr>
                                    <th>Specilization</th>
                                    <td>Periodontal surgery</td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>Periodontal surgery Doctor</td>
                                </tr>





                            </table>

                        </form>

                    </div>



                    <div class="edit-profile container">
                        <div class="d-flex justify-content-between mb-2">

                            <h2>Name: Dr- <span>{{ user1.name_user }}</span></h2>
                            <a href="details_doctor.html"><i class="fa-solid fa-user" style="font-size: 50px;"></i></a>

                        </div>

                        <div class="p-4 contact-form">
                            <form action="">
                                <!-- row -->
                                <div class="row mb-4">

                                    <!-- col -->
                                    <div class="col-lg-6 col-md-12">
                                        <label for="" class="form-label small ">FIRST NAME</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Fisrt name"
                                            required>
                                    </div>


                                    <div class="col-lg-6 col-md-12">
                                        <label for="" class="form-label small ">LAST NAME</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Last name"
                                            required>
                                    </div>
                                </div>
                                <!-- col -->
                                <!-- row -->


                                <!-- row -->
                                <div class="row mb-4">

                                    <!-- col -->
                                    <div class="col-lg-6 col-md-12">
                                        <label for="" class="form-label small ">E-MAIL</label>
                                        <input type="text" class="form-control" placeholder="Enter Your E-mail"
                                            required>
                                    </div>


                                    <div class="col-lg-6 col-md-12">
                                        <label for="" class="form-label small ">PHONE NUMBER</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Phone Number"
                                            required>
                                    </div>
                                </div>

                                <!--  -->
                                <div class="row mb-4">

                                    <!-- col -->
                                    <div class="col-lg-6 col-md-12">
                                        <label for="" class="form-label small ">New Password</label>
                                        <input type="text" class="form-control" placeholder="Enter Your E-mail"
                                            required>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label for="" class="form-label small ">Upload Photo</label>
                                        <input type="file" class="form-control" required>
                                    </div>
                                </div>

                                <!--  -->

                                <!-- col -->
                                <!-- row -->
                                <div class="row mb-4">
                                    <div class="col-lg-12 col-md-12">
                                        <label for="" class="form-label small ">ADDRESS</label>
                                        <input type="text" class="form-control" placeholder="Enter Your E-mail"
                                            required>
                                    </div>
                                </div>


                                <div class="row mb-4">
                                    <div class="col-lg-12 col-md-12">
                                        <label for="" class="form-label small ">Specialization</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Specialization"
                                            required>
                                    </div>
                                </div>

                                <div class="row ">
                                    <label for="">CHOOSE TOPIC</label>
                                    <!-- col -->
                                    <div class="col-lg-12 col-md-12">
                                        <select name="" id="" class="form-select">
                                            <option value="" disabled selected>Select One Topic</option>
                                            <option value="option1">Periodontal Surgery</option>
                                            <option value="option1">Payment note</option>
                                            <option value="option1">PAEDIATRIC DENTISTRY</option>
                                            <option value="option1">Orthodontics </option>
                                            <option value="option1">To avoid crowding and</option>

                                        </select>
                                    </div>
                                    <!-- col -->
                                    <!-- row -->



                                    <!-- row -->
                                    <div class="row mb-4">

                                        <!-- col -->
                                        <div class="col-lg-12 col-md-12">

                                            <label for="" class="form-label">Message</label>
                                            <textarea name="" id="" cols="30" rows="10" style="resize: none;"
                                                class="form-control">Type Your Message...</textarea>
                                        </div>

                                        <!-- col -->

                                    </div>




                                    <!-- row -->
                                    <div class="row mt-4">
                                        <div class="w-25 mx-auto">
                                            <button type="submit" class="btn btn-sub">Save</button>
                                        </div>
                                    </div>



                                </div>
                            </form>



                        </div>
                    </div>

                    <!--  -->

                    <div class="edit-schadule container">

                        <form action="{% url 'dashboard' %}" method="post">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between mb-2">

                                <h2>Name: Dr- <span>{{ user1.name_user }}</span></h2>
                                <i class="fa-solid fa-user" style="font-size: 50px;"></i>

                            </div>

                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>Doctor ID</td>
                                    <td>DR Name</td>
                                    <td>Day</td>
                                    <td>Date</td>
                                    <td>Start Time</td>
                                    <td>End Time</td>


                                </tr>

                                {% for schedule in schedules %}
                                <tr>

                                    <td><input type="text" name="dr_id1" id="" value="{{ schedule.doctor_id }}"></td>

                                    <td><input type="text" name="dr_name" value="{{ user1.name_user }}"></td>
                                    <td><input type="text" name="day1" id="" value="{{ schedule.day}}"></td>
                                    <td><input type="text" name="date_1" id=""
                                            value="{{ schedule.dr_dates|date:'Y-m-d' }}"></td>
                                    <td><input type="text" name="start_time1" value="{{ schedule.start_time }}"></td>
                                    <td><input type="text" name="end_time1" value="{{ schedule.end_time }}"></td>


                                </tr>
                                {% endfor %}




                            </table>



                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>Doctor ID</td>
                                    <td>Day</td>
                                    <td>Date</td>
                                    <td>Start Time</td>
                                    <td>End Time</td>
                                    <td>Dr Name</td>

                                </tr>
                                <tr>
                                    <td><input type="text" name="dr_id" id="" value=""></td>
                                    <td><input type="text" name="day" id="" value=""></td>
                                    <td><input type="date" name="dr_dates" id="" value=""></td>
                                    <td><input type="text" name="start_time" value=""></td>
                                    <td><input type="text" name="end_time" value=""></td>
                                    <td><input type="text" name="dt_name" value="{{user.name_user}}"></td>
                                </tr>
                            </table>
                            <button class="btn btn-sub" type="button">Update</button>
                            <button class="btn btn-sub" type="submit">Add + </button>



                        </form>

                    </div>



                    <!--  -->

                    <div class="edit-appoint container">

                        <form action="{% url 'dashboard' %}" method="post">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between mb-2">

                                <h2>Name: Dr- <span>{{ user1.name_user }}</span></h2>
                                <i class="fa-solid fa-user" style="font-size: 50px;"></i>

                            </div>

                            <table class="table table-bordered table-striped">
                                <tr>
                                    <!-- <td>Doctor ID</td> -->
                                    <td></td>
                                    <td>Patient Name</td>
                                    <td>Appointment Date</td>
                                    <td>Appointment Time</td>
                                    <td>Duration</td>
                                    <td>Description</td>

                                </tr>

                                <!-- <tr> -->

                                    <!-- <td><input type="text" name="" id="" value="2AC"></td> -->
                                    <!-- <td><a href="#" class="btn btn-success ">Confirm</a><br><br>
                                        <a href="#" class="btn btn-danger">Cancel &nbsp;</a>
                                    </td>
                                    <td><input type="text" name="" id="" value="Ali Ali"></td>
                                    <td><input type="text" name="" id="" value="12-09-2023"></td>
                                    <td><input type="text" name="" value="11 am"></td>
                                    <td><input type="text" name="" value="3 hr"></td>
                                    <td>
                                        <textarea name="" value="">1 hr</textarea>
                                    </td>
                                </tr> -->

                                {% for appointment in appointments %}

                                <tr>

                                    <td><a href="#" class="btn btn-success " id="confirmButton">Confirm</a><br><br>
                                        <a href="#" class="btn btn-danger" id="cancelButton">Cancel &nbsp;</a>
                                    </td>

                                    <!--  -->
                                    <script>
                                        document.getElementById('confirmButton').addEventListener('click', function() {
                                            // Store a flag in local storage to indicate confirmation
                                            localStorage.setItem('status', 'confirmed');
                                            // Redirect to the confirmation page
                                            window.location.href = "{% url 'dashboard' %}";
                                        });
                                
                                        document.getElementById('cancelButton').addEventListener('click', function() {
                                            // Store a flag in local storage to indicate cancellation
                                            localStorage.setItem('status', 'cancelled');
                                            // Redirect to the status page
                                            window.location.href = "{% url 'dashboard' %}";
                                        });
                                    </script>
                                    <!--  -->
                                    <td><input type="text" name="" id="" value="{{appointment.patient_name }}"></td>
                                    <td><input type="text" name="" id="" value="{{appointment.appoint_date|date:'d-m-Y'}}"></td>
                                    <td><input type="text" name="" value="{{appointment.appointment_time}}"></td>
                                    <td><input type="text" name="" value="{{appointment.duration}} hr"></td>
                                    <td>
                                        <textarea name="" value="">{{appointment.description}}</textarea>
                                    </td>
                                </tr>

                                {% endfor %}
                            </table>


                            <table class="table table-bordered table-striped">
                                <tr>
                                    <!-- <td>Doctor ID</td> -->

                                    <td>Patient Name</td>
                                    <td>Appointment Date</td>
                                    <td>Appointment Time</td>
                                    <td>Duration</td>
                                    <td>Description</td>

                                </tr>
                                <tr>
                                    <td><input type="text" name="" id="" value=""></td>
                                    <td><input type="text" name="" id="" value=""></td>
                                    <td><input type="text" name="" id="" value=""></td>
                                    <td><input type="text" name="" value=""></td>
                                    <td><input type="text" name="" value=""></td>
                                </tr>
                            </table>



                            <button class="btn btn-sub" type="submit">Update</button>
                            <button class="btn btn-sub" type="submit">Add +</button>
                        </form>

                    </div>

                    <!--  -->

                    <div class="show-upload-div container">

                        <table class="table table-striped">
                            <tr>
                                <th>Files</th>
                                <th>Patient Name</th>
                                <th>Download</th>
                            </tr>
                            {% for file_patient in files_patients %}
                            <tr>
                                <td>{{ file_patient.files_name }}</td>
                                <td>{{ file_patient.patient_name }}</td>
                                <td>
                                    <a href="{{ file_patient.files_name.url }}" class="btn btn-primary" download>Download</a>
                                </td>
                              

                            </tr>
                            {% endfor %}
                            

                        </table>

                    </div>
                </div>



            </div>
        </section>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



        <!-- =================== -->

        <section class="mapp mt-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54477.9243032329!2d31.763607144297435!3d31.41770020991767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f9e55ffce10e15%3A0x99ae0f78405c14d2!2sDamietta%2C%20Qism%20Damietta%2C%20Damietta%20Desert%2C%20Damietta%20Governorate!5e0!3m2!1sen!2seg!4v1715734671023!5m2!1sen!2seg"
                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <!-- end section map -->


    </main>

    <!-- footer -->
    <footer>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 pt-4">
                    <h6>Navioation</h6>
                    <li class="text-white-50">Home</li>
                    <li class="text-white-50">About us</li>
                    <li class="text-white-50">Services</li>
                    <li class="text-white-50">Our Team</li>
                </div>
                <div class="col-lg-3 col-md-6 pt-4">
                    <h6>Services</h6>
                    <li class="text-white-50">Periodontal Surgery</li>
                    <li class="text-white-50">Payment note</li>
                    <li class="text-white-50">Orthodontic</li>
                    <li class="text-white-50">Contact Us</li>

                </div>
                <div class="col-lg-3 col-md-6 pt-4">
                    <h6>Contact Us</h6>
                    <li class="text-white-50">Demaiye 61 street</li>
                    <li class="text-white-50">Clinic@gmail.com</li>
                    <!-- <li class="text-white-50">Orthodontic</li>
                <li class="text-white-50">Contact Us</li> -->

                </div>
                <div class="col-lg-3 col-md-12 pt-4">
                    <h2 class="fw-bold" style="font-family: 'Courier New', Courier, monospace;">White Teeth</h2>
                    <div class="mt-5">
                        <i class="fa-brands fa-square-facebook me-4 ms-4"></i>
                        <i class="fa-brands fa-twitter me-4"></i>
                        <i class="fa-brands fa-youtube me-4"></i>

                    </div>

                </div>
            </div>
        </div>

    </footer>
    <!-- end footer -->
</body>

</html>